applications/kaleo/src/main/resources/schema/OMA-SUP-XSD_xdm_extensions-V1_0-20080916-C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	XDM - XDM2 - Extensions
	    version - 1.0
	    date    - 16 September 2008

    FILE INFORMATION

	OMA Permanent Document
	   File: OMA-SUP-XSD_xdm_extensions-V1_0-20080916-C
	   Type: Text - Schema Description

	Public Reachable Information
	   Path: http://www.openmobilealliance.org/tech/profiles
	   Name: xdm_extensions-v1_0.xsd

    NORMATIVE INFORMATION

	Information about this file can be found in the specifications
	    OMA-TS-XDM_Shared_Group-V2_0, OMA-TS-XDM_Shared_List-V2_0,
	    OMA-TS-XDM_Core-V2_0 and OMA-TS-XDM_Shared_Policy-V2_0
	available at http://www.openmobilealliance.org/

	Send comments to technical-comments@mail.openmobilealliance.org

    LEGAL DISCLAIMER

	Use of this document is subject to all of the terms and conditions
	of the Use Agreement located at
		http://www.openmobilealliance.org/UseAgreement.html

	You may use this document or any part of the document for internal
	or educational purposes only, provided you do not modify, edit or
	take out of context the information in this document in any manner.
	Information contained in this document may be used, at your sole
	risk, for any purposes.

	You may not use this document in any other manner without the prior
	written permission of the Open Mobile Alliance.  The Open Mobile
	Alliance authorizes you to copy this document, provided that you
	retain all copyright and other proprietary notices contained in the
	original materials on any copies of the materials and that you
	comply strictly with these terms.  This copyright permission does
	not constitute an endorsement of the products or services.  The
	Open Mobile Alliance assumes no responsibility for errors or
	omissions in this document.

	Each Open Mobile Alliance member has agreed to use reasonable
	endeavors to inform the Open Mobile Alliance in a timely manner of
	Essential IPR as it becomes aware that the Essential IPR is related
	to the prepared or published specification.  However, the members
	do not have an obligation to conduct IPR searches.  The declared
	Essential IPR is publicly available to members and non-members of
	the Open Mobile Alliance and may be found on the "OMA IPR
	Declarations" list at http://www.openmobilealliance.org/ipr.html.
	The Open Mobile Alliance has not conducted an independent IPR review
	of this document and the information contained herein, and makes no
	representations or warranties regarding third party IPR, including
	without limitation patents, copyrights or trade secret rights.  This
	document may contain inventions for which you must obtain licenses
	from third parties before making, using or selling the inventions.
	Defined terms above are set forth in the schedule to the Open Mobile
	Alliance Application Form.

	NO REPRESENTATIONS OR WARRANTIES (WHETHER EXPRESS OR IMPLIED) ARE
	MADE BY THE OPEN MOBILE ALLIANCE OR ANY OPEN MOBILE ALLIANCE MEMBER
	OR ITS AFFILIATES REGARDING ANY OF THE IPR'S REPRESENTED ON THE "OMA
	IPR DECLARATIONS" LIST, INCLUDING, BUT NOT LIMITED TO THE ACCURACY,
	COMPLETENESS, VALIDITY OR RELEVANCE OF THE INFORMATION OR WHETHER OR
	NOT SUCH RIGHTS ARE ESSENTIAL OR NON-ESSENTIAL.

	THE OPEN MOBILE ALLIANCE IS NOT LIABLE FOR AND HEREBY DISCLAIMS ANY
	DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR
	EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OF
	DOCUMENTS AND THE INFORMATION CONTAINED IN THE DOCUMENTS.

	Copyright 2008 Open Mobile Alliance Ltd.  All Rights Reserved.
	Used with the permission of the Open Mobile Alliance Ltd. under the
	terms set forth above.
-->

<xs:schema
   targetNamespace="urn:oma:xml:xdm:extensions"
   xmlns="urn:oma:xml:xdm:extensions"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:oru="urn:oma:xml:xdm:resource-list:oma-uriusage"
   xmlns:rl="urn:ietf:params:xml:ns:resource-lists"
   elementFormDefault="qualified" attributeFormDefault="unqualified">

   <!-- This import brings in the XML language attribute xml:lang-->
   <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
   <xs:import namespace="urn:ietf:params:xml:ns:resource-lists" schemaLocation="resource-lists.xsd"/> 
   <xs:import namespace="urn:oma:xml:xdm:resource-list:oma-uriusage" schemaLocation="OMA-SUP-XSD_xdm_rsrclst_uriusage-V1_0_1-20080627-A.xsd"/>

<!-- Common elements defined by this document.-->
  <xs:element name="audio" type="duplexType"/>
  <xs:element name="file-transfer" type="extensionType"/>
  <xs:element name="group-advertisement" type="extensionType"/>
  <xs:element name="message-session" type="duplexType"/>
  <xs:element name="pager-mode-message" type="extensionType"/>
  <xs:element name="video" type="duplexType"/>
  <xs:element name="poc-speech" type="extensionType"/>

<xs:element name="service" type="serviceType"/>

  <!-- Common attributes defined by this document-->
  <xs:attribute name="allow" type="xs:boolean"/>
  <xs:attribute name="must-understand" type="xs:boolean"/>
  
<!--XML element extensions for the list-service element in the group application
     usage in the urn:oma:xml:poc:list-service namespace-->
  <xs:element name="age-restrictions" type="ageRestrictionsType"/>
  <xs:element name="automatic-group-advertisement" type="xs:boolean"/>
  <xs:element name="qoe" type="qoeType"/>
  <xs:element name="searchable" type="xs:boolean"/>
  <xs:element name="session-active-policy" type="sessionActPolicyType"/>
  <xs:element name="subject" type="subjectType"/>
  <xs:element name="supported-services" type="serviceListType"/>

  <!-- OMA specific "conditions" child element extensions to namespace urn:ietf:params:xml:ns:common-policy-->

  <xs:element name="media-list" type="mediaListType"/>
  <xs:element name="service-list" type="serviceListType"/>

<!--OMA specific "actions" child element extensions to namespace urn:ietf:params:xml:ns:common-policy -->

  <xs:element name="allow-media-handling" type="xs:boolean"/>
  <xs:element name="allow-auto-answermode" type="xs:boolean"/>
  <xs:element name="allow-expelling" type="xs:boolean"/>
  <xs:element name="block-group-advertisement-sending" type="xs:boolean"/>
  <xs:element name="allow-manual-answer-override" type="xs:boolean"/>
  <xs:element name="allow-offline-storage" type="allowOfflineStorageType"/>
  <xs:element name="allow-private-message" type="xs:boolean"/>
  <xs:element name="allow-reject-invite" type="xs:boolean"/>
  <xs:element name="allow-subconf" type="xs:boolean"/>
  <xs:element name="remove-media-handling" type="removeMediaHandlingType"/>

  <!--XDM specific uriusage substitution element extensions to namespace urn:oma:xml:xdm:resource-list:oma-uriusage-->
  <xs:element name="common-usage" substitutionGroup="oru:uriusage" type="commonUsageType"/>

<!-- Type definitions defined by this document-->

  <xs:complexType name="ageRestrictionsType">
    <xs:sequence>
      <xs:element name="age" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="from" type="xs:positiveInteger"/>
          <xs:attribute name="until" type="xs:positiveInteger"/>
          <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="must-understand" use="required"/>
  </xs:complexType>

  <xs:complexType name="allMediaExceptType">
     <xs:sequence minOccurs="0" maxOccurs="unbounded">
       <xs:choice>
         <xs:element ref="audio"/>
          <xs:element ref="file-transfer"/>
          <xs:element ref="group-advertisement"/>
          <xs:element ref="message-session"/>
          <xs:element ref="pager-mode-message"/>
          <xs:element ref="video"/>
          <xs:element ref="poc-speech"/>
         <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence> 
  </xs:complexType>

  <xs:complexType name="allServicesExceptType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element ref="service"/>              
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="allowOfflineStorageType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute ref="allow" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="commonUsageType">
    <xs:sequence maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="duplexType">
    <xs:sequence minOccurs="0">  
      <xs:choice>
        <xs:element name="full-duplex" type="emptyType"/>
        <xs:element name="half-duplex" type="emptyType"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>    
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="emptyType"/>

  <xs:complexType name="extensionType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>  
  </xs:complexType>

  <xs:complexType name="mediaListType">
    <xs:choice>
      <xs:element name="all-media-except" type="allMediaExceptType"/>
      <xs:sequence maxOccurs="unbounded">
        <xs:choice>         
          <xs:element ref="audio"/>
          <xs:element ref="file-transfer"/>
          <xs:element ref="group-advertisement"/>
          <xs:element ref="message-session"/>
          <xs:element ref="pager-mode-message"/>
          <xs:element ref="video"/>
          <xs:element ref="poc-speech"/>
          <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="qoeType">
    <xs:choice>
      <xs:element name="basic" type="emptyType"/>
      <xs:element name="premium" type="emptyType"/>
      <xs:element name="professional" type="emptyType"/>
      <xs:element name="government" type="emptyType"/>
      <xs:any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute ref="must-understand" use="required"/>
  </xs:complexType>

  <xs:complexType name="rangeType">
    <xs:sequence>
      <xs:element name="start-time" type="startendtimeType" minOccurs="0"/>
      <xs:element name="end-time" type="startendtimeType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="removeMediaHandlingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="own"/>
      <xs:enumeration value="any"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="requiredParticipantsListType">
    <xs:sequence>
      <xs:element name="entry" type="rl:entryType" minOccurs="0" maxOccurs="unbounded"/> 
     <xs:element name="external" type="rl:externalType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scheduleType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="time-range" type="rangeType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceListType">
    <xs:choice>
      <xs:element name="all-services-except" type="allServicesExceptType"/>         
      <xs:sequence maxOccurs="unbounded">
        <xs:choice>
           <xs:element ref="service"/>
           <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="serviceType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="group-media" type="mediaListType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="enabler" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>  
  </xs:complexType>
 
  <xs:complexType name="sessionActPolicyType">
    <xs:sequence>
      <xs:element name="max-duration" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="required-participants-list" type="requiredParticipantsListType" minOccurs="0"/>
      <xs:element name="min-participant-count" type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="schedule" type="scheduleType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="must-understand" use="required"/>
  </xs:complexType>

  <xs:complexType name="startendtimeType">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="subjectType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>